<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
      <style>
            footer{
                  position: absolute;
                  width: 100%;
                  bottom: 0;
            }
      </style>
</head>
<body style="text-align: center; background-image: url('https://i.imgur.com/dwc6lZ8.jpeg'); background-repeat: no-repeat">


<header th:replace="fragments/header"/>

<div class="container" style="margin-bottom: 270px; margin-top: 120px;">
    <h1>Welcome to E-Pharmacy !</h1>
    <h4><i>Here you can find all kind of drugs and make orders for smallest
        prices and fastest delivery !</i></h4>
</div>


<footer th:replace="fragments/footer"/>


</body>
</html>
