<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>

<style>
    .container form{
        width: 45%;
    }
    #regbtn{
        width: 45%;
    }
      footer{
                  position: absolute;
                  width: 100%;
                  bottom: 0;
            }
</style>
<body style="background-image: url('https://i.imgur.com/dwc6lZ8.jpeg'); background-repeat: no-repeat">
<header th:replace="fragments/header"/>

<div class="container" xmlns:th="http://www.thymeleaf.org" style="margin-bottom: 147px">
    <form class="form-signin mt-xl-5" method="post" action="/login">
        <h2 class="form-signin-heading">Sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>

        <p th:if="${hasError}" th:text="${error}" class="text-danger"></p>

        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <a href="/register" id="regbtn" class="btn btn-block btn-light">Register here</a>
</div>
<footer th:replace="fragments/footer"/>

</body>
</html>
